<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>874905530088-06rhss9d5gi0u30oikrcielq61t4q14v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.874905530088-06rhss9d5gi0u30oikrcielq61t4q14v</string>
	<key>API_KEY</key>
	<string>AIzaSyA41u7w9PSp0J0sULClyS1oWz-bRgqEO8Y</string>
	<key>GCM_SENDER_ID</key>
	<string>874905530088</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.reactnative-base</string>
	<key>PROJECT_ID</key>
	<string>english-practice-askmeit</string>
	<key>STORAGE_BUCKET</key>
	<string>english-practice-askmeit.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:874905530088:ios:c6f937e36e19bacd8fe35d</string>
</dict>
</plist>